<div class ="py-4 bg-info">
 <div class="text-center"><div class="text-white"><h3>Login</h3></div></div>

  <div class="row">
      <div class="col-sm-4 offset-sm-4">
      <%= form_with(url: sessions_path, scope: :session, local: true) do |f| %>

      <div class="form-group">
        <%= f.label :email, 'Email' %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password, 'Password' %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>

      <%= f.submit 'Login', class: 'btn btn-primary btn-block' %>
      <% end %>
      <p><div class="text-white"><div class="text-center"><%=link_to '新規の方はこちらからSignup', signup_path,class: 'btn btn-info' %></div></div></p>
      </div>
 </div>
</div>