<h2><u>コミュニティ一覧</u></h2>
</br>

<div class="text-right"><%= link_to '新規作成', new_lecture_path, class: 'btn btn-primary' %></div>
</br>

<% @lectures.each do |lecture| %>
<div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="card border-dark mb-3">
           <div class="card-body">
             <div class="media">
              <div class= "room_index"><%= image_tag lecture.room.url,:size => '150x150' %></div>
              <div class="media-body">
             <%= link_to lecture.name, lecture %></br><%= lecture.comment.truncate(80) %>
              </div>
             </div>
           </div>
          </div>
        </div>
      </div>
</div>
<% end %>
<%= paginate @lectures %>