<h2><u>コミュニティ一覧</u></h2>
</br>

<div><%= link_to '新規作成', new_lecture_path, class: 'btn btn-primary' %></div>


</br>

<div class="input-group mb-3">
    <input type ="text" class ="form-control" placeholder ="検索キーワード"　aria-label ="検索キーワード"　aria-describedby ="basic-addon1">
    <div class ="input-group-append">
      <button class ="btn btn-primary" type ="button">検索</button>
    </div>
</div>
 
<% @lectures.each do |lecture| %>
<div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="card border-dark mb-3">
           <div class="card-body">
             <div class="media">
              <div class= "room_index"><%= link_to lecture.id,lecture %><%= image_tag lecture.room.url %></div>
              <div class="media-body">
             <%= link_to lecture.name, lecture %></br><%= lecture.comment.truncate(20) %>
              </div>
             </div>
           </div>
          </div>
        </div>
      </div>
</div>
<% end %>
<%= paginate @lectures %>