<h2><u>コミュニティ一覧</u></h2>
</br>

<div><%= link_to '新規作成', new_lecture_path, class: 'btn btn-primary' %></div>


</br>

<div class="input-group mb-3">
    <input type ="text" class ="form-control" placeholder ="検索キーワード"　aria-label ="検索キーワード"　aria-describedby ="basic-addon1">
    <div class ="input-group-append">
      <button class ="btn btn-primary" type ="button">検索</button>
    </div>
</div>
 
<table class="table table-striped table-bordered">
    　　<tr>
　　　   <th class="text-center thead-info">コミュニティ</th>
        </tr>
        
        <tr>
        <% @lectures.each do |lecture| %>
        <td><%= link_to lecture.id, lecture %>      <%= lecture.name %></td>
        </tr>
        <% end %>
 </table> 


<div>下はテストです</div>
<% @lectures.each do |lecture| %>
<div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="card border-dark mb-3">
           <div class="card-body">
             <div class="media">
              <div><%= link_to lecture.id,lecture %><%= image_tag lecture.room.url %></div>
              <div class="media-body">
             <%= link_to lecture.name, lecture %></br><%= lecture.comment %>
              </div>
             </div>
           </div>
          </div>
        </div>
      </div>
</div>
<% end %>
