<table class="table table-striped">
    
    <tr>
    <td>講義名</td>
        <td class="text-center"><%=lecture.name%></td>
    </tr>
    
    <tr>
    <td>タイトル</td>
        <td class="text-center"><%=lecture.text%></td>
    </tr>
    
    <tr>
    <td>時間割</td>
        <td class="text-center"><%=lecture.schedule%>限目</td>
    </tr>
    
    <tr>
    <td>回数</td>
        <td class="text-center">第<%=lecture.number%>回</td>
    </tr>
    
    <tr>
    <td>コメント</td>
        <td class="text-center"><%=lecture.comment%></td>
    </tr>
    
    <tr>
    <td>講義名</td>
        <td class="text-center"><%=lecture.name%></td>
    </tr>
    