<div class="text-center"><%= image_tag @lecture.room.url %></div>
<table class="table table-striped table-bordered">
    <tr>
      <th class="text-center">概要</th>
      <th class="text-center">詳細</th>
    </tr>
     <tr>
      <td>コミュニティー名</td>
      <td class="text-center"> <%= @lecture.name %></td>
    </tr>
    
     <tr>
       <td>コメント</td>
       <td class="text-center"><%= @lecture.comment %></td>
    </tr>
</table>
        
<div class = "container">
  <div class = "row">
    <% if current_user && Bookmark.find_by(user_id:current_user.id,lecture_id:@lecture.id).blank? %>
      <div class = "offset-md-5 col-2 btn btn-light mr-4"><%=link_to "ブックマーク登録", lecture_bookmarks_path(@lecture), method: :post %></div>
    <% elsif current_user && Bookmark.find_by(user_id:current_user.id,lecture_id:@lecture.id).present? %>
      <div class = "offset-md-5 col-2 btn btn-light mr-4"><%=link_to "ブックマークを解除", lecture_bookmark_path(@lecture), method: :delete %></div>
    <% end %>
    <div class = "col-2 btn btn-light mr-4"><%=link_to "一覧表へ戻る", lectures_url %></div>
    <% if current_user.id == @lecture.user_id %>
      <div class = "col-1 btn btn-light mr-4"><%=link_to "編集", edit_lecture_path(@lecture) %></div>
      <div class ="col-1 btn btn-light"><%=link_to "削除", @lecture, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }%></div>
    <% end %>
  </div>
</div>


</br>
</br>
<h2><u>メッセージ一覧</u></h2>
</br>

<ul class="list-unstyled">
 <% @message_index.each do|message| %>
 <li class="media mb-3">
      <img class="mr-2 rounded" src="<%= gravatar_url(message.user, { size: 50 }) %>" alt="">
      <div class="media-body">
        <%= link_to message.user.name, user_path(message.user) %> <span class="text-muted">posted at <%= message.created_at %></span>
        <div>
          <p><%= message.content %></p>
          <div class= "text-right">
            <% if current_user == message.user %>
            <%= link_to "削除", message, method: :delete, data: { confirm: "メッセージを削除されますか?" }, class: 'btn btn-info btn-sm' %>
            <% end %>
          </div>
        </div>
      </div>
  </li>
 <% end %>

</ul>

</br>
<h4>投稿画面</h4>

<% if logged_in? %>
  <div class="row">
    <aside class="col-sm-12">
      <%= form_with(model: @message, local: true) do |f| %>
    <div class="form-group">
      <%= f.text_area :content, class: 'form-control', rows: 5 %>
    </div>
    　<%= f.hidden_field :user_id, value: current_user.id %>
    　<%= f.hidden_field :lecture_id, value: params[:id] %>
      <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
      <% end %>
<% end %>