<div class="text-center"><%= image_tag @lecture.room.url %></div>
<table class="table table-striped table-bordered">
    <tr>
      <th class="text-center">概要</th>
      <th class="text-center">詳細</th>
    </tr>
     <tr>
      <td>コミュニティー名</td>
      <td class="text-center"> <%= @lecture.name %></td>
    </tr>
    
     <tr>
       <td>コメント</td>
       <td class="text-center"><%= @lecture.comment %></td>
    </tr>
</table>
        
<div class = "container">
  <div class = "row">
    <div class = "offset-md-7 col-2 btn btn-light mr-4"><%=link_to "一覧表へ戻る", lectures_url %></div>
    <div class = "col-1 btn btn-light mr-4"><%=link_to "編集", edit_lecture_path(@lecture) %></div>
    <div class ="col-1 btn btn-light"><%=link_to "削除", @lecture, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }%></div>
  </div>
</div>

</br>
</br>
<h2><u>メッセージ一覧</u></h2>



