<h2><u>生徒一覧</u></h2>
</br>
<%= form_tag(search_users_path, method: :get) do %>
  <%= text_field_tag :search %>
  <%= submit_tag '検索', name: nil ,class: 'btn btn-primary'%>
<% end %>
</br>

<% if @users.any? %>
  <ul class="list-unstyled">
    <% @users.each do |user| %>
    <% @account = Account.find_by(user_id:user.id) %>
      <li class="media">
        <% if @account.present? %>
          <div class="text-center"> <%= image_tag @account.image.url,:size => '50x50' %></div>
        <% else %>
           <div class="text-center"><%= image_tag 'noprofile.jpg',:size =>'50x50' %></div>
        <% end %>
        <div class="media-body">
          <div>
           <%= link_to user.name, user_path(user) %>
          </div>
          <div>
            <% if @account.present? %>
              <p><%= @account.introduction.truncate(50) %></p>
            <% else %>
              <p>よろしくお願いします!</p>
            <% end %>
          </div>
      </li>
    <% end %>
  </ul>
  <%= paginate @users %>
<% end %>

