<h1>プロフィール</h1>
   <div class="container">
     <div class="row">
       <div class="col-md-4">
         <div class="card border-secondary mb-3">
           <div class="card-header text-center border-secondary" ><%= current_user.name %></div>
           <div class="card-body"> <img class="rounded img-fluid" src="<%= gravatar_url(@user, { size: 300 }) %>" alt="">
           </br><%= image_tag @account.image.url %>
           </div>
         </div>
        </div>
        
          <div class="col-md-7">
            <div class="card border-secondary mb-3">
              <div class="card-header border-secondary">
                <div class ="text-center">profile </div>
                <aside class ="text-light"> <%= link_to '編集', new_account_path %></aside>
              </div>
              <div class="card-body"><%= @account.introduction %></div>
              <p>SNSアカウント<%= @account.sns %></p>
            </div>
          </div>
      </div>
    </div>

</br>

<table class="table table-hover table-striped">
  <tr> <th class="text-center table-info">bookmark</th>
  </tr>
  <% if @bookmarks.present? %>
  <tr>
    <% @bookmarks.each do |bookmark| %>
      <% lecture = Lecture.find_by(id:bookmark.lecture_id) %>
      <% if lecture.present? %>
        <td><a href="/lectures/#{lecture.id}"><%= lecture.name %></a></td>
      <% end %>
    <% end %>
  </tr>
  <% else %>
  <tr>
    <td>まだブックマークはありません。</td>
  </tr>
  <% end %>
</table>

  
  
 
