<h1><u>プロフィール</u></h1>
</br>

<div>
  <% if @account.present? %>
    <div class="text-center"><%= image_tag @account.image.url,:size => '300x300' %>"</div>
  <% else %>
    <div class="text-center"><%= image_tag 'noprofile.jpg',:size =>'300x300' %></div>
  <% end %>
  
  </br>
  <h2 class="text-center"><%= @user.name %></h2>
</div>
</br>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card border-secondary mb-3">
        
        <div class="card-header border-secondary">
          <div class ="text-center">プロフィール</div>
            <div> 
            <% if current_user.id == @user.id %>
              <% if @account.present? %>
                <div class ="text-right"> <%= link_to '編集', edit_account_path %></div>
              <% else %>
                <div class ="text-right"> <%= link_to '作成', new_account_path %></div>
              <% end %>
            <% end %>
            </div>
        </div>
        
        <div class="card-body">
          <% if @account.present? %>
            <p><%= @account.introduction %></p>
          <% else %>
            <p>自己紹介の文を記入しよう！またSNSのURLなど記載することで多くの人とつながることができます！</p>
          <% end %>
          
        </div>
        
      </div>
    </div>
  </div>
</div>
</br>

<table class="table table-hover">
  <tr> <th class="text-center table-primary">bookmark</th>
  </tr>
  <% if @bookmarks.present? %>
  <tr>
    <% @bookmarks.each do |bookmark| %>
      <% lecture = Lecture.find_by(id:bookmark.lecture_id) %>
      <% if lecture.present? %>
        <td><a href="/lectures/#{lecture.id}"><%= lecture.name %></a></td>
      <% end %>
  </tr>
    <% end %>
  <% else %>
  <tr>
    <td>まだブックマークはありません。</td>
  </tr>
  <% end %>
</table>

