
<div class="text-center"><h3><strong>プロフィール編集</strong></h3></div>
<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <%= form_with(model: @account, local: true) do |f| %>
      
      <div class="form-group">
        <%= f.label :image, '画像' %></br>
        <%= f.file_field :imege %>
      </div>
    
      <div class="form-group">
        <%= f.label :introduction, '紹介文' %>
        <%= f.text_area :introduction, class: 'form-control',rows:8 %>
      </div>
      
      <%= f.submit '更新する', class: 'btn btn-primary btn-block' %>
       
      <%= form_with(model: @account, local: true) do |f| %>
    　　<%= render 'layouts/error_messages', model: f.object %>
      <% end %>
    <% end %>
  </div>
</div>
