<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <div class="text-center"><h3><strong>プロフィール編集</strong></h3></div>

    <%= form_with(model: @account, local: true) do |f| %>
     
      <div class="form-group">
        <%= f.label :introduction, '紹介文' %>
        <%= f.text_field :introduction, class: 'form-control' %>
      </div>
      
      <%= f.submit '更新する', class: 'btn btn-primary btn-block' %>
       
      <%= form_with(model: @account, local: true) do |f| %>
    　　<%= render 'layouts/error_messages', model: f.object %>
      <% end %>
    <% end %>
  </div>
</div>
